# Text files have auto line endings
* text=auto

# Go source files always have LF line endings
*.go text eol=lf

# Disable next extensions in project "used languages" list
*.lua linguist-detectable=false
*.html linguist-detectable=false
